@model IEnumerable<InstituteOfComputers.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("New Student", "NewStudent", "Student", null, new { @class = "btn btn-info btn-sm " })
</p>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Student Name</th>
            <th>Course</th>
            <th>Course Status</th>
        </tr>
    </thead>
    <tbody>
        @{
                    
                    foreach (var student in Model)
                    {

                <tr class="info">
                    <td>@student.Id</td>
                    <td> @Html.ActionLink(@student.FirstName, "StudentDetails", "Student", new { Id= student.Id },null)</td>
                    <td>@student.Course.CourseName</td>
                    <td>
                        @student.CourseStatus.CourseStatusName
                        @if (student.CourseStatus.CourseStatusName == "Completed")
                        {
                            <span class="badge rounded-pill bg-success" style="background-color:green">Done</span>

                        }
                        else if (student.CourseStatus.CourseStatusName == "In Progress")
                        {

                            <div class="progress progress-striped active" style="margin-bottom:0px;">
                                <div class="progress-bar" style="width: 45%"></div>
                            </div>

                        }
                        else { 
                                                   }
                    </td>
                </tr>
                    }
        }
            

    </tbody>
</table>